@page "/Account"
@using StudyTimeManager.WebApp.UI.Pages.Forms
@model AccountModel
@{
}

<div>
    <h3>Study Time Manager <span id="lblHeadingText">Login</span></h3>

    <form method="post">

        <div>
            <i class="bi bi-envelope"></i>
            <input type="text" placeholder="username" asp-for="UserForLogin.Username" />
        </div>
        <div>
            <input type="password" placeholder="password" asp-for="UserForLogin.Password" />
        </div>
        <div>
            <input class="btn btn-primary" cla type="submit" value="Login" asp-page-handler="Login" />
        </div>

        <small>
            Don't have an account? <a href="javascript:showRegisterForm()">register</a>
        </small>
    </form>

    <form method="post" >
        <div>
            <input type="text" placeholder="username" asp-for="UserForRegisteration.Username" />
        </div>

        <div>
            <input type="password" placeholder="password" asp-for="UserForRegisteration.Password" />
        </div>
        
        <div>
            <input type="password" placeholder="confirm password" asp-for="UserForRegisteration.ConfirmPassword" />
        </div>
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Register" asp-page-handler="Register" />
        </div>
       
        <small>
            Already have an account? <a href="javascript:showLoginForm">login</a>
        </small>
        
    </form>
</div>

@{
    
}
