@page "/Account"
@using StudyTimeManager.WebApp.UI.Pages.Forms
@model AccountModel
@{
}

<div>
    <h3>Study Time Manager <span id="lblHeadingText">Login</span></h3>

    <form method="post">

        <div class="col-md-4 form-outline">
            <input id="loginUsername"
                   class="form-control" 
                   type="text" 
                   asp-for="UserForLogin.Username" />
            <label for="loginUsername" class="form-label">Username</label>
        </div>
        <div  class="form-outline">
            <input id="loginPassword"
                   class="form-control" 
                   type="password" 
                   asp-for="UserForLogin.Password" />
            <label for="loginPassword" class="form-label">Password</label>
        </div>
        <div>
            <input class="btn btn-primary" type="submit" value="Login" asp-page-handler="Login" />
        </div>

        <small>
            Don't have an account? <a href="javascript:showRegisterForm()">register</a>
        </small>
    </form>

    <form method="post" >
        <div  class="form-outline">
            <input id="registerUsername"
                   class="form-control"
                   type="text"
                   asp-for="UserForRegisteration.Username" />
            <label for="registerUsername" class="form-label">Username</label>
        </div>

        <div  class="form-outline">
            <input id="registerPassword"
                   class="form-control"
                   type="password"
                   asp-for="UserForRegisteration.Password" />

            <label for="registerPassword" class="form-label">Password</label>
        </div>
        
        <div class="col-md-4 form-outline">
            <input id="confirmPassword"
                   class="form-control"
                   type="password"
                   asp-for="UserForRegisteration.ConfirmPassword" />

            <label for="confirmPassword" class="form-label">Confirm Password</label>
        </div>
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Register" asp-page-handler="Register" />
        </div>
       
        <small>
            Already have an account? <a href="javascript:showLoginForm">login</a>
        </small>
        
    </form>
</div>

@{
    
}
